*.exe
*.o
*.i
*.elf
*.gba
!data/*.gba
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.ld
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.*.cfg
prefabs.json
.vscode/
*.a
.fuse_hidden*
*.sna
*.diff
*.sym
*.js
PokEdo/**
/Linux Path.txt
/PokemonSourceCode/pokeemerald/*.gba
PokemonSourceCode/pokeemerald/data/layouts/NewLab/border.bin
PokemonSourceCode/pokeemerald/data/layouts/NewLab/map.bin
/porymap-windows-5.4.0/porytiles_maps
/PokemonSourceCode/porytiles_dir

/PokemonSourceCode/pokeemerald/tools/AI_Flags/trainers_party.txt
/PokemonSourceCode/pokeemerald/tools/AI_Flags/trainers_party_edited.txt
